<!DOCTYPE>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="theme.css">
	</head>
	<body>
		<div class="text headline">ASSASSINS</div>
		<div class="mascot">
			<img height="250" src="http://www.wpclipart.com/cartoon/people/ninja/ninja.png">
		</div>
		<div class="text instructions">LOG IN</div>
		<div class="text label">USER</div> <input class="text input" type="text" name="username"></input>
		<div class="text label">PASS</div> <input class="text input" type="password" name="password"></input>
		<div class="text instructions link">
			<a href="place.html">
			</a>
		</div>

	</body>
<!--testing-->
</html>