<!DOCTYPE html>
<html>
<head>
    <title>SELECT GAME</title>
    <link rel="stylesheet" href="selectGameScreen.css">
    <script src="selectGameScreen.js"></script>
</head>
<body>
<h1>
    SELECT GAME
</h1>
<!--change to rectangles!-->

<ul id = "gameList">
    <div class = "gameRectangle" style="width:500px;height:75px;border:1px solid #000000;">
        <button id = "demo" class = "gameButton" type="button" onclick="myFunction()" >Game 1</button></div>
    <div class = "gameRectangle" style="width:500px;height:75px;border:1px solid #000000;">
        <button class = "gameButton" type="button">Game 2</button></div>
    <div class = "gameRectangle" style="width:500px;height:75px;border:1px solid #000000;">
        <button class = "gameButton" type="button">Game 3</button></div>
    <div class = "gameRectangle" style="width:500px;height:75px;border:1px solid #000000;">
        <button class = "gameButton" type="button">Game 4</button></div>
    <div class = "gameRectangle" style="width:500px;height:75px;border:1px solid #000000;">
        <button class = "gameButton" type="button">Game 5</button></div>
    <div class = "gameRectangle" style="width:500px;height:75px;border:1px solid #000000;">
        <button class = "gameButton" type="button">Game 6</button></div>
</ul>



</body>
</html>