<!DOCTYPE html>
<html>
<head>
    <title>SELECT GAME</title>
    <link rel="stylesheet" href="theme.css">
    <script src="selectGameScreen.js"></script>
</head>
<body>
<div class="text headline">ASSASSINS</div>
<!--change to rectangles!-->

<ul id = "gameList">
    <div class = "text label" style="width:500px;height:75px;border:1px solid #000000;"><a class = "text label" href="http://www.epa.gov/">Game 1</a></div>
    <div class = "text label" style="width:500px;height:75px;border:1px solid #000000;">Game 2</div>
    <div class = "text label" style="width:500px;height:75px;border:1px solid #000000;">Game 3</div>
    <div class = "text label" style="width:500px;height:75px;border:1px solid #000000;">Game 4</div>
    <div class = "text label" style="width:500px;height:75px;border:1px solid #000000;">Game 5</div>
    <div class = "text label" style="width:500px;height:75px;border:1px solid #000000;">Game 6</div>
</ul>




</body>
</html>