body{
    background-color:black;
}




h1 {
    padding-top:50px;
    text-align:center;
    width:100%;
    color: #ff0121;
}

.gameRectangle{
    background-color: white;
    align-content: center;
    margin: 0 auto;
    text-align: center;

}

#gameList{
    background-color: black;
    align-content: center;
}

.gameButton{
    background-color: darkgray;
    vertical-align: middle;

}