<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <title>
        Game Stats
    </title>
</head>
<body>
<div class="text headline">Game 1 Stats</div>
<div class = "text instructions">
    Your Target: Frank <br>
    Time Remaining: 28:06:42:12

</div>
<div class = "text label">
    <a class = "text instructions" href = "http://www.epa.gov/">Who is still alive?</a>

</div>
<div class = "text instructions" style="width:500px;height:75px;border:1px solid #000000;"><a class = "text instructions" href="http://localhost:63342/assassinsFrontend/HTMLCode/selectGameScreen.html">Back to Game Selection Screen</a></div>




</body>
<!--testing-->
</html>