<!DOCTYPE html>
<html>
<head>
    <title>SELECT GAME</title>
    <link rel="stylesheet" href="theme.css">
    <script src="selectGameScreen.js"></script>
</head>
<body>
<div class="text headline">ASSASSINS</div>
<!--change to rectangles!-->

<ul id = "gameList">
    <div class = "text box" style="width:500px;height:75px;border:1px solid #000000;"><a class = "text box" href="http://localhost:63342/assassinsFrontend/HTMLCode/gameStatsScreen.html">Game 1</a></div>
    <div class = "text box" style="width:500px;height:75px;border:1px solid #000000;"><a class = "text box" href="http://localhost:63342/assassinsFrontend/HTMLCode/gameStatsScreen.html">Game 2</a></div>
    <div class = "text box" style="width:500px;height:75px;border:1px solid #000000;"><a class = "text box" href="http://localhost:63342/assassinsFrontend/HTMLCode/gameStatsScreen.html">Game 3</a></div>
    <div class = "text box" style="width:500px;height:75px;border:1px solid #000000;"><a class = "text box" href="http://localhost:63342/assassinsFrontend/HTMLCode/gameStatsScreen.html">Game 4</a></div>
    <div class = "text box" style="width:500px;height:75px;border:1px solid #000000;"><a class = "text box" href="http://localhost:63342/assassinsFrontend/HTMLCode/gameStatsScreen.html">Game 5</a></div>
    <div class = "text box" style="width:500px;height:75px;border:1px solid #000000;"><a class = "text box" href="http://localhost:63342/assassinsFrontend/HTMLCode/gameStatsScreen.html">Game 6</a></div>
</ul>

<div class = "text box" style="width:500px;height:75px;border:1px solid #000000;"><a class = "text box" href="http://localhost:63342/assassinsFrontend/HTMLCode/login.html">Back to Login Screen</a></div>

</div>




</body>
</html>