body{
	background-color: #181818;
}



.text{
	display: block;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.text.headline{
	font-size: 30px;
	text-align: center;
	color: #ff0000;
}

.text.instructions{
	font-size: 20px;
	color: #ff0000;
}

.text.label{
	font-size: 11px;
	color: #ff0000;
}

.text.label.target{
	text-align: center;
}

.text.box{
	/*height: 75%;*/
	vertical-align: middle;
	padding: 15px;
	background-color: #000000;
	border: 1px solid #ff0000;
    font-size: 20px;
    color: #ff0000;
    text-align: center;
    vertical-align: middle;
}

.pannel{
	/*width: 95%;*/
	/*height: 75%;*/
	vertical-align: middle;
	padding: 20px;
	background-color: #282828;
	border: 1px solid #000000;
}
/*
.box{
    width:500px;
    height:75px;
    border:1px solid #000000;
    background-color: #282828;
}*/

.text.input{
	border-style: none;
	font-size: 14px;
	background-color: #282828;
	color: #ffffff;
	padding: 2px;

}

.text.submit{
	border-style: none;
	font-size: 10px;
	background-color: #ff0000;
	padding: 5px;
}


.mascot{
	text-align: center;
}

#target{
	font-weight: bold;
	font-size: 50px;
}

/*#main_container{
	width: 300px;
	margin: 0px auto;
}

#game_list{
	list-style-type: none;
	padding: 0px 0px;
}
.game_item{
	margin: 0px 0px;
	width: 300px;
	height: 50px;
	text-align: center;
}
#back_login{
	margin: 0px 0px;
	width: 300px;
	height: 50px;
}
#back_login a{
	margin: 0px 0px;
	text-align: center;
	padding: auto auto;
	width: 300px;
}*/
a{
	color: #ff0000;
}
a.game_link{
    text-decoration: none;
}
a.game_item{
    text-decoration: none;
}
