body{
	/*background-color: #181818;*/
	background-color: #323232;
}

.text{
	display: block;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

.text.headline{
	font-size: 30px;
	text-align: center;
	color: #ff0000;
}

.text.instructions{
	font-size: 20px;
	color: #ff0000;
}

.text.label{
	font-size: 11px;
	color: #ff0000;
}

.text.label.target{
	text-align: center;
}

.text.box{
	/*height: 75%;*/
	vertical-align: middle;
	padding: 15px;
	background-color: #020202;
	border: 1px solid #ff0000;
    font-size: 20px;
    color: #ff0000;
    text-align: center;
    vertical-align: middle;
}

.pannel{
	/*width: 95%;*/
	/*height: 75%;*/
	vertical-align: middle;
	padding: 20px;
/*	background-color: #282828;*/
	background-color: #141414;
	border: 1px solid #000000;
}

.checkList{
	vertical-align: middle;
	padding: 10px;
	background-color: #282828;
	/*background-color: #141414;*/
	text-align: center;
	border: 1px solid #000000;
}

.highlight{
	background-color: #181818;
	border-color: #ff0000;
}

.text.input{
	border-style: none;
	font-size: 20px;
/*	background-color: #282828;*/
	background-color: #141414;
	color: #ffffff;
	padding: 2px;
	/*text-align: center;*/
	width: 100%;

}

.text.submit{
	border-style: none;
	font-size: 20px;
	color: #020202;
	background-color: #ff0000;
	padding: 5px;
	text-align: left;
}

.title{
	text-align: center;
}

.mascot{
	text-align: center;
}

#target{
	font-weight: bold;
	font-size: 50px;
}

#game-status-dead{
	display: none; /* players are alive by default*/
	text-align: center;
}

#verify-kill{
	display: none;
	text-align: center;
}

#add_game_form div{
	text-align: left;
}

#verify-kill-form { 
margin: 0 auto; 
width:160px;
}

#display-kill-code {
	display: none;
	text-align: center;
}

a{
	color: #ff0000;
}
a.game_link{
    text-decoration: none;
}
a.game_item{
    text-decoration: none;
}

#user_check_list{
	padding: 20px;
}

#countdown-clock{
	width: 50%;
	padding: 2px;
	background-color: #323232;
	border: none;
	text-align: center;
	font-size: 15px
}